:root {
    /* colors */
    --primary-clr: hsl(240, 39%, 20%);
    --white-clr: hsl(0, 0%, 100%);
    --secondary-clr: hsl(240, 19%, 15%);


    /* spacing */
    --space-tin: 0.5rem;
    --space-medium: 1rem;
    --space-large: 1.5rem;
    --space-larger: 2rem;
    --space-x-large: 2.5rem;
    --space-x-larger: 3rem;
    
    /* text & alignment*/
    --text-center: center;
    --space-between: space-between;
    --space-around: space-around;
    --space-evenly: space-evenly;
    --text-caps: capitalize;
    --text-low: lowercase;
    --text-upper: uppercase;


    /* display */
    --d-flex: flex;
    --d-columns: column;
    --d-row: row;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    background-color: rgb(230, 228, 228);
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 
screen height 
header = 2rem
wrapper = cal(100vh, (2 -1)
footer = 1rem
*/



.header {
    height: 3.5rem;  
    background-color: var(--primary-clr);
    color: #fff;
    padding: 0.5rem 1rem;
    display: var(--d-flex);
    align-items: flex-end;
    justify-content: var(--text-center);
}

.logo__text {
    text-transform: var(--text-caps);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.145rem;
}

.wrapper {
    width: 90vw;
    margin: auto;    
    min-height: calc(100vh - (3.5rem + 3rem));
    padding: var(--space-medium);    
}

.title__container {
    display: var(--d-flex);
    align-items: var(--text-center);
    justify-content: var(--space-between);
    margin: var(--space-large) 0;
}

.title__container p {
    text-transform: var(--text-caps);
    font-weight: 500;
}

.modal__btn {
    padding: 0.4rem 1rem;
    font-size: 1rem;
    text-transform: var(--text-caps);
    cursor: pointer;
    border: none;
    background-color: rgb(89, 144, 89);
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 4ms ease-in-out;
    -webkit-transition: all 4ms ease-in-out;
    -moz-transition: all 4ms ease-in-out;
    -ms-transition: all 4ms ease-in-out;
    -o-transition: all 4ms ease-in-out;
}

.modal__btn:hover {
    cursor: pointer;
    font-weight: 500;
    color: #ccc;
}

.filter__container p {
    font-size: 1.2rem;
    margin-bottom: var(--space-tin);
}

.filter__input {
    width: 70%;
    padding: 0.3rem;
    border: 1px solid #333;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.filter__input:focus {
    border: none;
}

/* form */

.form {
    max-width: 380px;
    margin: 2rem auto;
    padding: 1rem 0.3rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 6px 4px 10px #ccc;
    transition: all 5ms ease-in;
    -webkit-transition: all 5ms ease-in;
    -moz-transition: all 5ms ease-in;
    -ms-transition: all 5ms ease-in;
    -o-transition: all 5ms ease-in;
}

.form__title {
    text-align: var(--text-center);
    text-transform: var(--text-caps);
    font-size: 1.2rem;
    font-weight: 500;
}


.form__input {
    width: 100%;
    padding: 0.2rem;
    margin-bottom: 0.6rem;
}

.form__add-btn {
    width: 100%;
    text-transform: var(--text-caps);
    background-color: rgb(5, 5, 93);
    border: none;
    color: var(--white-clr);
    padding: 0.4rem;
    font-size: 0.9rem;
    letter-spacing: 0.21rem;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
    transition: 3ms ease-in-out;
    -webkit-transition: 3ms ease-in-out;
    -moz-transition: 3ms ease-in-out;
    -ms-transition: 3ms ease-in-out;
    -o-transition: 3ms ease-in-out;
}

.form__add-btn:hover {
    cursor: pointer;
    font-weight: 500;
    color: #ccc;
}

/* contact list */
.contact__list {
    margin: var(--space-large) 0 var(--space-medium);
}
.name__list {
    display: var(--d-flex);
    align-items: var(--text-center);
    justify-content: var(--space-between);
    margin-bottom: 0.7rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 0.3rem;
}

.contact__details {    
    display: var(--d-flex);
    align-items: var(--text-center);
    gap: 1rem;
}

.name__label {
    width: 40px;
    height: 40px;    
    background-color: green;
    padding: 1rem;
    color: var(--white-clr);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.contact__info {
    display: var(--d-flex);
    flex-direction: var(--d-columns);
}

/* count */
.count {
    text-align: var(--text-center);
    
}

.count__text {    
    color: rgb(58, 58, 58);
}

/* media */
@media screen and (min-width: 768px){
    .wrapper {
        width: 60vw;  
        outline: none;      
    }

    .form {
        max-width: 420px;
    }
    
}

@media screen and (min-width: 1024px) {
    .wrapper {
        width: 50vw;
        outline: 2px dotted green;
    }

    .form {
        max-width: 400px;
    }

}


@media screen and (min-width: 1366px) {
    .wrapper {
        width: 30vw;
        outline: none;
    }

    .form {
        max-width: 420px;
    }

}


.footer {
    height: 3rem;
    background-color: var(--secondary-clr);
    color: var(--white-clr);
    padding: var(--space-medium);
    text-align: var(--text-center);
}

.footer a {
    color: #888;
}