body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ccc;
}

.counter__wrapper {
  max-width: 450px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;  

}

.counter__info {
  font-size: 4rem;
  font-weight: 600;  
}

.btn__container {
  display: flex;
  gap: 2rem;
  
}

.btn {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: 0.134rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn__increment {
  color: #fff;
  background-color: green
}

.btn__decrement {
  color: #fff;
  background-color: red;
}

.btn__zero {
  color: #fff;
  background-color: #333;
}
